.Treasure-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.Treasure-container > section {
  margin-top: 75px;
}

.Treasure-container > footer {
  margin-top: 50px;
}
