.Panel-container {
  width: 100%;
  min-height: 110px;
  position: relative;
  background-color: rgba(249, 249, 249, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px);
  padding: 28px;
  border: solid 1px var(--gray2);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Panel-container > header {
  background-color: var(--gray3);
  width: 210px;
  height: 45px;
  position: absolute;
  border: solid 1px var(--gray2);
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.Panel-container > header > .title-gem {
  position: absolute;
}

.Panel-container > header > .title-gem:first-of-type {
  transform: translate(-50%, 0);
  left: 0;
}

.Panel-container > header > .title-gem:last-of-type {
  transform: translate(50%, 0);
  right: 0;
}

.Panel-container > header > .title-gem > div {
  width: 20px;
  height: 20px;
  background-color: var(--gray3);
  border: solid 1px var(--gray2);

  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}

.Panel-container > header > .title-gem > div > div {
  width: 12px;
  height: 12px;
  background: var(--grayGradient);
}

.Panel-container > header > div {
  width: calc(100% - 3px);
  height: 100%;
  border: solid 1px var(--gray2);
  border-top: none;
  border-bottom: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Panel-container > section {
  position: absolute;
  width: 25px;
  height: 25px;
  margin: 4px;
  background: transparent;
  border: solid 1px var(--gray1);
}

.Panel-container > .box-top-left-corner {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}
.Panel-container > .box-bottom-left-corner {
  left: 0;
  bottom: 0;
  border-top: none;
  border-right: none;
}
.Panel-container > .box-top-right-corner {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}
.Panel-container > .box-bottom-right-corner {
  right: 0;
  bottom: 0;
  border-top: none;
  border-left: none;
}
