.ModalManageCreatureRoutine-container.modal-body {
  width: fit-content;
  margin-top: 180px;
  height: 70%;
  justify-content: space-between;
}

.ModalManageCreatureRoutine-container .new-creature-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 10px;
  margin-bottom: 25px;
  flex: 1;

  overflow-y: auto;
}

.ModalManageCreatureRoutine-container footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 15px;
}
