.ModalManageCreatureRoutine-container.modal-body {
  width: fit-content;
  height: 450px;
  margin-top: 160px;
}

.ModalManageCreatureRoutine-container .new-creature-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 10px;
  margin-bottom: 25px;

  overflow-y: auto;
  height: 350px;
}

.ModalManageCreatureRoutine-container footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 15px;
}
