.Login-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Login-container div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Login-container div h1 {
  color: var(--black);
  font-family: var(--titleFont);
  font-weight: 400;
}

.Login-container div h1 + h1 {
  color: var(--black);
  font-weight: 400;
  font-family: var(--primaryFont);
}

.Login-container > form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login-container > form > div {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.Login-container > form > footer {
  margin: 15px;
}
