.ModalSuggestions-container.modal-body {
  position: relative;
  width: fit-content;
  min-height: calc(100% - 100px);
  max-width: 80%;
  margin-top: 50px;
}

.ModalSuggestions-container .content {
  min-height: calc(100% - 210px);
  height: 100%;
}

.ModalSuggestions-container .content div > aside {
  height: 100%;
}

.ModalSuggestions-container .content div .ideia-suggestions {
  width: 35%;
}

.ModalSuggestions-container .content div .ideia-suggestions > span {
  font-weight: 600;
}

.ModalSuggestions-container .content .map-suggestions {
  height: 100%;
}

.ModalSuggestions-container .description {
  width: 100%;
  height: 100%;
}

.ModalSuggestions-container .description textarea {
  width: 100%;
  height: 100%;
}

.ModalSuggestions-container .divider {
  border-top: 1px solid var(--gray1);
  width: calc(100% + 50px);
  margin: 25px 0;
}

.ModalSuggestions-container footer {
  width: 100%;
}

.ModalSuggestions-container footer > aside {
  position: absolute;
}

.ModalSuggestions-container footer .suggestion-actions {
  left: 25px;
}

.ModalSuggestions-container footer .suggestion-modes {
  right: 25px;
}
