.ModalExport-container.modal-body {
  width: 500px;
  max-height: 70%;
  height: fit-content;
}

.ModalExport-container .details {
  margin-bottom: 25px;
  white-space: break-spaces;
  overflow: auto;
}

.ModalExport-container .divider {
  border-top: 1px solid var(--gray1);
  width: calc(100% + 50px);
  margin-top: 25px;
  margin-bottom: 25px;
}

.ModalExport-container .clean-check {
  margin-left: 25px;
}
