.Location-container {
  width: fit-content;
  height: fit-content;
  border-radius: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Location-container .area-wrapper {
  width: fit-content;
  height: fit-content;
  border-radius: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Location-container .area {
  position: absolute;
  overflow: hidden;
  border-radius: 100%;
  scale: 0.5;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Location-container .area .inner-area {
  scale: 4;
}

.Location-container .connection {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  height: 2px;
}

.Location-container .connection-background {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  scale: 0.5;
}

.Location-container .connection-background .con-bg-area {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: inherit;
  scale: 2;
}
.Location-container .connection-background .con-bg-area:last-of-type {
  rotate: 180deg;
}

.Location-container .connection-background .con-bg-area.corner {
  flex: 1;
}

.Location-container .point-of-interest {
  border: 1px solid var(--black);
  scale: 1;
}

.Location-container .not-current {
  cursor: pointer;
}
.Location-container .not-current:hover {
  border: 1px solid var(--white);
}

.Location-container .vision {
  position: absolute;
  pointer-events: none;

  background-color: rgba(255, 255, 255, 0.2);
  border: 1px dashed var(--black);
  border-radius: 100%;
}

.Location-container .location-details {
  position: absolute;
  top: 0;
  padding-top: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.Location-container .LocationSummary-container .body-container {
  z-index: 1000000;
}
.Location-container:not(:hover) .LocationSummary-container .body-container {
  display: none;
}
