.Button-container {
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Button-container span {
  font-family: var(--primaryFont);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.Button-large {
  width: 196px;
  height: 45px;
  padding: 13px 0 14px;
}
.Button-large span {
  width: 196px;
  height: 18px;
  font-size: 14px;
}

.Button-medium {
  width: 118px;
  height: 35px;
  padding: 10px 33px;
}
.Button-medium span {
  width: 52px;
  height: 15px;
  font-size: 12px;
}

.Button-small {
  width: 88px;
  height: 30px;
  padding: 8px 18px 7px;
}
.Button-small span {
  width: 52px;
  height: 15px;
  font-size: 12px;
}

.Button-primary {
  background-color: var(--primaryButtonColor);
}
.Button-primary:hover {
  background-color: var(--primaryButtonHover);
}

.Button-secondary {
  background-color: var(--secondaryButtonColor);
}
.Button-secondary:hover {
  background-color: var(--secondaryButtonHover);
}

.Button-tertiary {
  background-color: var(--tertiaryButtonColor);
}
.Button-tertiary:hover {
  background-color: var(--tertiaryButtonHover);
}

.Button-disabled {
  opacity: 0.6;
  pointer-events: none;
}
