.Button-container {
  width: fit-content;
  height: 44px;
  background: var(--purpleGradient);
  cursor: pointer;
  border-radius: 2px;
  padding: 0 2px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Button-container > div {
  height: 40px;
  background: var(--purpleGradient);
  border: 1px solid var(--gray2);
  border-radius: 2px;
  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 7px;
  color: var(--white);
}
