.Info-container {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: solid 1px var(--gray1);
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Info-container .fa-info {
  font-size: 10px;
  pointer-events: none;
}

.Info-container:hover .tooltip-hover {
  opacity: 1;
}
