.EditCreature-container {
  position: relative;
  height: 100%;
  width: 100vw;
  background-color: var(--primaryBackground);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.EditCreature-container .end-editing {
  text-decoration: underline;
  color: var(--white);
  font-family: var(--primaryFont);
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  background: none;
  border: none;
  z-index: 1;

  position: absolute;
  top: 16px;
  right: 16px;
}

.EditCreature-container .first-step-wrapper {
  margin-top: 30px;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.EditCreature-container .first-step-wrapper h2 {
  color: var(--white);
  margin-bottom: 30px;
}

.EditCreature-container .first-step-wrapper > main {
  height: 450px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 30px;
  margin-bottom: 30px;
}

.EditCreature-container .first-step-wrapper .creature-avatar {
  width: 450px;
  height: 450px;
  background-color: var(--gray2);
  position: relative;
  padding: 12px;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.EditCreature-container .first-step-wrapper .creature-avatar img {
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
  object-position: 0 top;
  width: 450px;
  height: 450px;
}

.EditCreature-container .first-step-wrapper .creature-avatar > .fas {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 150px;
  color: var(--gray3);
}

.EditCreature-container .first-step-wrapper .creature-avatar .update-avatar-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  column-gap: 15px;
  z-index: 1;
}

.EditCreature-container .first-step-wrapper .creature-avatar .update-avatar-wrapper .update-button {
  margin-bottom: 5px;
}

.EditCreature-container .first-step-wrapper .creature-avatar .update-avatar-wrapper .update-button i {
  width: 25px;
  height: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.EditCreature-container .first-step-wrapper .creature-avatar .update-avatar-wrapper .img-url label,
.EditCreature-container .first-step-wrapper .creature-details .creature-name label,
.EditCreature-container .first-step-wrapper .creature-details .creature-description label {
  color: var(--white);
}

.EditCreature-container .first-step-wrapper .creature-details {
  width: 450px;
  height: inherit;
  row-gap: 15px;
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.EditCreature-container .first-step-wrapper .creature-details .creature-name input {
  width: 450px;
}

.EditCreature-container .first-step-wrapper .creature-details .creature-description {
  flex: 1;
}

.EditCreature-container .first-step-wrapper .creature-details .creature-description textarea {
  width: 450px;
  flex: 1;
}

/* --------------------------------- */

.EditCreature-container.main-edit-process {
  background: var(--blurGradient);

  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.EditCreature-container .edit-process-basic {
  height: 100%;
  width: 350px;
  margin-top: 20px;
  background-color: var(--primaryBackground);
  margin-top: 0;
  padding: 0 20px 20px 20px;

  display: flex;
  align-items: flex-start;
}

.EditCreature-container .edit-process-basic h2 {
  margin: 16px 0 16px 0px;
  line-height: 1;
  font-size: 14px;
}

.EditCreature-container .edit-process-basic main {
  display: flex;
  flex-direction: column;
  column-gap: 0;
  margin-bottom: 0;
  flex: 1;
}

.EditCreature-container .edit-process-basic .creature-avatar {
  width: 300px;
  height: 300px;

  margin-bottom: 15px;
}

.EditCreature-container .edit-process-basic .creature-avatar img {
  width: 300px;
  height: 300px;
}

.EditCreature-container .edit-process-basic .creature-avatar .update-avatar-wrapper .img-url input {
  width: 100%;
}

.EditCreature-container .edit-process-basic .creature-details {
  width: 300px;
  flex: 1;
}

.EditCreature-container .edit-process-basic .creature-details .creature-name input {
  width: 300px;
}

.EditCreature-container .edit-process-basic .creature-details .creature-description textarea {
  width: 300px;
}

.EditCreature-container .edit-process-details {
  width: 100%;
  height: 100%;
}

.EditCreature-container .edit-process-details .progess-bar {
  width: 100%;
  height: 46px;
  background-color: var(--primaryBackground);
  color: var(--white);
  z-index: 0;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.EditCreature-container .edit-process-details .progess-bar .progess-bar-step {
  width: calc(100% / 7);
  height: 100%;
  position: relative;
  margin-left: -25px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.EditCreature-container .edit-process-details .progess-bar .progess-bar-step:hover .step-description {
  background-color: var(--gray2);
}

.EditCreature-container .edit-process-details .progess-bar .progess-bar-step:hover .step-description span {
}

.EditCreature-container .edit-process-details .progess-bar .progess-bar-step:hover .step-arrow > div {
  background-color: var(--gray2);
}

.EditCreature-container .edit-process-details .progess-bar .progess-bar-step.selected-step .step-description {
  background-color: var(--gray3);
}
.EditCreature-container .edit-process-details .progess-bar .progess-bar-step.selected-step .step-description span {
  color: var(--primaryPurple1);
  font-weight: 600;
}
.EditCreature-container .edit-process-details .progess-bar .progess-bar-step.selected-step .step-arrow > div {
  background-color: var(--gray3);
}

.EditCreature-container .edit-process-details .progess-bar .progess-bar-step:first-child {
  margin-left: 0;
}

.EditCreature-container .edit-process-details .progess-bar .progess-bar-step section {
  width: calc(100% - 2px);
  height: 100%;
  z-index: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.EditCreature-container .edit-process-details .progess-bar .progess-bar-step .step-description {
  width: calc(85% - 2px);
  height: 100%;
  background-color: var(--primaryBackground);
  padding-right: 10%;
  transition: 0.2s;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.EditCreature-container .edit-process-details .progess-bar .progess-bar-step .step-arrow {
  width: 25px;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.EditCreature-container .edit-process-details .progess-bar .progess-bar-step .step-arrow > div {
  background-color: var(--primaryBackground);
  width: 46px;
  height: 46px;
  transform: rotate(45deg);
  transition: 0.2s;
  cursor: pointer;

  position: absolute;
  top: 0;
  right: 10px;
}

.EditCreature-container .edit-process-details .progess-bar .progess-bar-step .step-border {
  position: absolute;
  right: 0px;
}

.EditCreature-container .edit-process-details .progess-bar .progess-bar-step .step-border .step-description {
  background-color: var(--gray3);
}

.EditCreature-container .edit-process-details .progess-bar .progess-bar-step .step-border .step-arrow > div {
  background-color: var(--gray3);
}

.EditCreature-container .edit-process-details > main {
  height: calc(100% - 46px);
  width: 100%;
}

.EditCreature-container .edit-process-details > main div {
  background-color: red;
  width: 100%;
}
