.EditCreature-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.EditCreature-container > div {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.EditCreature-container > h1 {
  color: white;
}
