.TabBar-container {
  width: 100%;
  height: 60px;
  padding: 32px 52px 30px 45px;
  background-color: var(--primaryPurple2);

  display: flex;
  align-items: center;
  justify-content: space-between;
}
