* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --titleFont: Cinzel Decorative, cursive;
  --primaryFont: Cinzel, serif;

  --primaryPurple1: #472e73;
  --primaryPurple2: #38245a;
  --primaryPurple3: #281a40;
  --purpleLight: #d8c8f4;

  --secondaryBlue1: #61cad9;
  --secondaryBlue2: #5bbecc;
  --secondaryBlue3: #50a7b2;

  --black: #252525;
  --gray1: #505050;
  --gray2: #b5b5b5;
  --gray3: #f9f9f9;
  --white: #ffffff;

  --successColor: #2f5852;
  --errorColor: #a72638;

  --purpleGradient: linear-gradient(180deg, #70549f 0%, #2f2146 100%);
  --grayGradient: linear-gradient(45deg, #252525 2.86%, rgba(37, 37, 37, 0.37) 91.25%);
}

html,
body,
#root {
  height: 100%;
}

h1 {
  font-size: 30px;
  font-family: var(--primaryFont);
}

h2 {
  font-size: 24px;
  font-family: var(--primaryFont);
}

h3 {
  font-size: 18px;
  font-family: var(--primaryFont);
}

h4 {
  font-size: 15px;
  font-family: var(--primaryFont);
}

h5 {
  font-size: 14px;
  font-family: var(--primaryFont);
}

h6 {
  font-size: 12px;
  font-family: var(--primaryFont);
}

p {
  font-size: 15px;
  line-height: 27px;
  font-family: var(--primaryFont);
}

span {
  font-size: 12px;
  font-family: var(--primaryFont);
}

label {
  font-size: 15px;
  font-family: var(--primaryFont);
}

input {
  font-size: 15px;
  font-family: var(--primaryFont);
}

button {
  cursor: pointer;
}

.button-disabled {
  opacity: 0.6;
  pointer-events: none;
}
