* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

:root {
  --titleFont: "Cinzel Decorative", cursive;
  --primaryFont: "Cinzel", serif;

  --primaryPurple1: #472e73;
  --primaryPurple2: #38245a;
  --primaryPurple3: #281a40;
  --purpleLight: #d8c8f4;

  --secondaryBlue1: #61cad9;
  --secondaryBlue2: #5bbecc;
  --secondaryBlue3: #50a7b2;

  --black: #252525;
  --gray1: #505050;
  --gray2: #b5b5b5;
  --gray3: #f9f9f9;
  --white: #ffffff;

  --successColor: #2f5852;
  --warningColor: #ff8000;
  --errorColor: #a72638;
  --defensiveColor: #4b8c58;
  --offensiveColor: #b3293c;
  --primaryBackground: #242029;

  --blurGradient: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 50%, rgba(232, 232, 232, 0.8) 100%);
  --grayGradient: linear-gradient(45deg, #252525 2.86%, rgba(37, 37, 37, 0.37) 91.25%);
  --purpleGradient: linear-gradient(180deg, #70549f 0%, #2f2146 100%);
  --blackGradient: linear-gradient(-45.01deg, #2e2e2e -0.46%, #454545 53.61%, #333333 106.2%);
}

html,
body,
#root {
  height: 100%;
}

fieldset {
  border: none;
}

h1 {
  font-size: 30px;
  font-family: var(--primaryFont);
}

h2 {
  font-size: 24px;
  font-family: var(--primaryFont);
}

h3 {
  font-size: 18px;
  font-family: var(--primaryFont);
}

h4 {
  font-size: 15px;
  font-family: var(--primaryFont);
}

h5 {
  font-size: 14px;
  font-family: var(--primaryFont);
}

h6 {
  font-size: 12px;
  font-family: var(--primaryFont);
}

p {
  font-size: 15px;
  line-height: 27px;
  font-family: var(--primaryFont);
}

span {
  font-size: 12px;
  font-family: var(--primaryFont);
}

li {
  font-size: 14px;
  font-family: var(--primaryFont);
}

label {
  font-size: 15px;
  font-family: var(--primaryFont);
}

input {
  font-size: 15px;
  font-family: var(--primaryFont);
}

textarea {
  font-size: 15px;
  font-family: var(--primaryFont);
}

button {
  cursor: pointer;
}

.button-simple {
  text-decoration: underline;
  color: var(--primaryPurple1);
  font-family: var(--primaryFont);
  line-height: 1;
  font-weight: 400;
  background: none;
  border: none;
}

.bold {
  font-weight: 600;
}

.element-disabled {
  opacity: 0.6;
  pointer-events: none;
}

.hidden {
  display: none !important;
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}

.invisible {
  visibility: hidden !important;
  /* cursor: default !important; */
}

.lacking-data {
  color: var(--warningColor);
}

.df {
  display: flex;
  justify-content: center;
  align-items: center;
}
.df-fd-c {
  flex-direction: column;
}
.df-f1 {
  flex: 1;
}
.df-fw {
  flex-wrap: wrap;
}

.df-jc-fs {
  justify-content: flex-start;
}
.df-jc-sb {
  justify-content: space-between;
}
.df-jc-fe {
  justify-content: flex-end;
}

.df-ai-fs {
  align-items: flex-start;
}
.df-ai-fe {
  align-items: flex-end;
}

.df-rg-5 {
  row-gap: 5px;
}
.df-rg-10 {
  row-gap: 10px;
}
.df-rg-15 {
  row-gap: 15px;
}
.df-rg-20 {
  row-gap: 20px;
}
.df-rg-25 {
  row-gap: 25px;
}

.df-cg-5 {
  column-gap: 5px;
}
.df-cg-10 {
  column-gap: 10px;
}
.df-cg-15 {
  column-gap: 15px;
}
.df-cg-20 {
  column-gap: 20px;
}
.df-cg-25 {
  column-gap: 25px;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 999px;
  scroll-margin-right: 20px;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: var(--gray2);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray1);
}
