.backend-loading {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

.backend-loading h2 {
  opacity: 0;
  transition: all 0.5s;
}

.Home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  position: relative;

  min-width: 1440px;
}

.Home-container .portrait-blocker {
  display: none;
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  z-index: 9999999999999;
}

.Home-container .portrait-blocker h2 {
  width: 100%;
}

@media (max-height: 600px) {
  .Home-container {
    min-height: 700px;
  }
}

@media (orientation: portrait) {
  .Home-container .portrait-blocker {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

.Home-container > img {
  position: absolute;
  object-fit: cover;
  object-position: 0 -75px;
  z-index: -1;
  width: 100%;
  height: 100%;

  min-width: 1440px;
  /* min-height: 698px; */
}

.Home-container .section-container {
  flex: 1;
  display: flex;
}

.Home-container .section-wrapper {
  flex: 1;
  display: flex;
}

.Home-container .section-wrapper.edit-creature {
  height: calc(100% - 60px);
}
