.Select-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.Select-container > section {
  /* border-radius: 8px; */
  background-color: var(--white);
  padding: 10px 10px 10px 15px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}

.Select-container .select-open {
  border: solid 2px var(--primaryPurple2);
}

.Select-container .select-closed {
  border: solid 1px var(--gray1);
}

.Select-container > section > h5 {
  color: var(--gray1);
}

.Select-container > section > .fa-chevron-down {
  color: var(--primaryPurple3);
}

.Select-container > ul {
  /* border-top-left-radius: 8px;
  border-bottom-left-radius: 8px; */
  box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px var(--gray1);
  background-color: var(--white);
  position: absolute;
  transform: translate(0, 100%);
  bottom: -5px;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.Select-container > ul > div {
  width: 100%;
  border-radius: inherit;

  display: flex;
  align-items: center;
  justify-content: center;
}
.Select-container > ul > div:hover {
  background-color: var(--gray3);
}

.Select-container .select-item {
  list-style-type: none;
  border-bottom: solid 1px var(--gray2);
  padding: 10px 0;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Select-container > ul > div:last-of-type .select-item {
  border: none;
}
