.ModalManageDungeonRoom-container.modal-body {
  width: fit-content;
  margin-top: 160px;
  height: 70%;

  justify-content: space-between;
}

.ModalManageDungeonRoom-container .new-room-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 10px;
  margin-bottom: 25px;

  overflow-y: auto;
}

.ModalManageDungeonRoom-container .new-room-wrapper .room-row {
  width: 100%;
}

.ModalManageDungeonRoom-container .new-room-wrapper .room-row .interaction {
  margin-top: 23px;
}

.ModalManageDungeonRoom-container footer {
  width: 100%;
}
