.ModalTravelResults-container.modal-body {
  width: fit-content;
  height: fit-content;
}

.ModalTravelResults-container .content {
  row-gap: 10px;
  position: relative;
  flex-direction: column;
}

.ModalTravelResults-container .content .movement span {
  font-size: 15px;
}

.ModalTravelResults-container .divider {
  border-top: 1px solid var(--gray1);
  width: calc(100% + 50px);
  margin-top: 10px;
  margin-bottom: 25px;
}

.ModalTravelResults-container footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 25px;
}

.ModalTravelResults-container footer .footer-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}
