.ModalTravelResults-container.modal-body {
  width: fit-content;
  height: fit-content;
  /* max-height: 450px; */
}

.ModalTravelResults-container .content {
  position: relative;
  column-gap: 25px;
}

.ModalTravelResults-container .details-wrapper {
  height: 100%;
  width: 400px;
  row-gap: 10px;
  max-height: 250px;
}

.ModalTravelResults-container .details-wrapper:first-child span {
  white-space: break-spaces;
  overflow: auto;
}

.ModalTravelResults-container .details-wrapper h3 {
  line-height: 1;
}

.ModalTravelResults-container .details-wrapper .details-views.icon-view i {
  margin-left: 100px;
}
.ModalTravelResults-container .details-wrapper .details-views.creatures-view h6 {
  translate: 26% -104%;
}

.ModalTravelResults-container .content .movement span {
  font-size: 15px;
}

.ModalTravelResults-container .content .material span {
  font-size: 12px;
}

.ModalTravelResults-container .details-wrapper .room-data {
  overflow: auto;
}

.ModalTravelResults-container .details-wrapper .room-data .kill {
  color: var(--offensiveColor);
}
.ModalTravelResults-container .details-wrapper .room-data .save {
  color: var(--defensiveColor);
}

.ModalTravelResults-container .details-wrapper .surroundings {
  column-gap: 10px;
}

.ModalTravelResults-container .details-wrapper input {
  font-weight: 600;
}

.ModalTravelResults-container .details-wrapper .elements-display {
  text-align: center;
}

.ModalTravelResults-container .details-wrapper .imminent {
  color: red;
  font-weight: 600;
}

.ModalTravelResults-container .details-wrapper .near {
  color: DarkOrange;
  font-weight: 600;
}

.ModalTravelResults-container .creature-list {
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

.ModalTravelResults-container .creature-list .encounter-creature {
  position: relative;
  cursor: pointer;
  border-radius: 100%;
}

.ModalTravelResults-container .encounter-creature.selected-creature {
  box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.5);
}
.ModalTravelResults-container .creature-list .dead-creature {
  opacity: 0.5;
}
.ModalTravelResults-container .creature-list .dead-icon {
  position: absolute;
  font-size: 24px;
  color: var(--offensiveColor);
}

.ModalTravelResults-container .creature-list .creature-avatar {
  bottom: 7px;
  object-fit: cover;
  object-position: 0 top;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 2px solid var(--white);
}

.ModalTravelResults-container > .divider {
  border-top: 1px solid var(--gray1);
  width: calc(100% + 50px);
  margin-top: 25px;
  margin-bottom: 10px;
}

.ModalTravelResults-container > footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 25px;
  margin-top: 15px;
}

.ModalTravelResults-container footer .footer-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}

.ModalTravelResults-container .ModalWarning-container {
  margin-top: 75px;
}
