.NaviBar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.NaviBar-container > section:first-child {
  width: 100%;
  height: 60px;
  padding: 5px 100px 5px 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 50%, rgba(232, 232, 232, 0.8) 100%);
  backdrop-filter: blur(14px);
}

.NaviBar-container > section:first-child {
  border-bottom: 0.5px solid var(--primaryPurple1);
}

.NaviBar-container > section:first-child div {
  display: flex;
  align-items: center;
}

.NaviBar-container > section:first-child h3 {
  color: var(--primaryPurple2);
  font-family: var(--titleFont);
  font-weight: 400;
}

.NaviBar-container > section:first-child h3 + h3 {
  color: var(--primaryPurple2);
  font-weight: 400;
  font-family: var(--primaryFont);
  padding-right: 15px;
}

.NaviBar-container > section:first-child h4 {
  color: var(--primaryPurple1);
  font-family: var(--primaryFont);
  font-weight: 700;
  line-height: 30px;
  border-left: 1px solid var(--primaryPurple1);
  text-align: center;
  padding-top: 4px;
  padding-left: 15px;
  height: 35px;
}

.NaviBar-container > section:first-child button {
  width: 50px;
  text-decoration: underline;
  color: var(--primaryPurple1);
  font-family: var(--primaryFont);
  font-weight: 400;
  font-size: 18px;
  background: none;
  border: none;
}
.NaviBar-container > section:first-child button:hover {
  color: var(--primaryPurple3);
  cursor: pointer;
}

.NaviBar-container > section:last-child {
  width: 100%;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 50%, rgba(232, 232, 232, 0.8) 100%);
  backdrop-filter: blur(14px);
}
