.ModalManageContext-container.modal-body {
  width: fit-content;
  height: 450px;
  margin-top: 215px;
}

.ModalManageContext-container .new-context-wrapper {
  row-gap: 10px;
  margin-bottom: 25px;
  overflow-y: auto;
  height: 350px;
}

.ModalManageContext-container .details-wrapper {
  display: flex;
  position: relative;
}

.ModalManageContext-container .details-blocker {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: calc(100% - 23px);
  bottom: 0;
  z-index: 1;
  border: none;
  transition: all 0.1s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ModalManageContext-container .details-blocker:hover {
  opacity: 0.1;
}

.ModalManageContext-container footer {
  width: 100%;
}
