.TreasureReward-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 25px;
  height: 100%;
  row-gap: 25px;
}

.TreasureReward-container > h2 {
  line-height: 1;
}

.TreasureReward-container .equipment-details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}
