.TextInput-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.TextInput-container .label-wrapper {
  width: 100%;
  margin-bottom: 5px;

  display: flex;
  align-items: center;
}
.TextInput-container .label-wrapper.label-and-info {
  justify-content: space-between;
}
.TextInput-container .label-wrapper.label {
  justify-content: flex-start;
}
.TextInput-container .label-wrapper.info {
  justify-content: flex-end;
}

.TextInput-container .label-wrapper label {
  font-size: 12px;
}

.TextInput-container input {
  position: relative;
  width: 350px;
  height: 55px;
  padding: 12px 45px 11px 13px;
  background-color: var(--white);
  border: 1px solid var(--gray2);
}

.TextInput-container textarea {
  position: relative;
  resize: none;
  width: 350px;
  height: 55px;
  padding: 12px 11px 11px 13px;
  background-color: var(--white);
  border: 1px solid var(--gray2);
}
