.TextInput-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.TextInput-container label {
  font-family: var(--secondaryFont);
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.TextInput-container > main {
  position: relative;
}

.TextInput-container input {
  width: 360px;
  height: 45px;
  padding: 12px 45px 11px 13px;
  border-radius: 5px;
  border: solid 1px var(--fontColor);
  background-color: #ffffff;
}

.TextInput-container .text-noResults {
  border-color: var(--errorColor);
}

.TextInput-container > main > .fas {
  position: absolute;
  transform: translate(0, -50%);
  right: 15px;
  top: 50%;
}

.TextInput-container .fa-check {
  color: var(--fontColor);
}

.TextInput-container .fa-exclamation-triangle {
  color: var(--errorColor);
}

.TextInput-container p {
  width: 100%;
  height: 16px;
  margin-top: 10px;
  font-family: var(--secondaryFont);
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--errorColor);
}
