.ModalSettings-container.modal-body {
  width: fit-content;
  max-width: 80%;
  max-height: 70%;
  height: fit-content;
  margin-top: 120px;
}

.ModalSettings-container.modal-body .result {
  font-weight: 700;
}

.ModalSettings-container .divider {
  border-top: 1px solid var(--gray1);
  width: calc(100% + 50px);
  margin-top: 25px;
  margin-bottom: 25px;
}

.ModalSettings-container footer {
  width: 100%;
}
