.ModalWarning-container.modal-body {
  width: fit-content;
  max-width: 80%;
  height: fit-content;
}

.ModalWarning-container .messages-wrapper {
  row-gap: 10px;
  margin-bottom: 25px;
  white-space: break-spaces;
}

.ModalWarning-container .warning-actions-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 25px;
}
