.Party-container .screen-block {
  position: fixed;

  background-color: var(--black);
  opacity: 0.7;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: calc(100vh - 60px);
}

.Party-container > .sharp-button {
  height: 60px;
  width: 200px;
  cursor: pointer;

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.Party-container > .sharp-button div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0;
}

.Party-container > .sharp-button div:nth-child(1) {
  left: 4px;
}

.Party-container > .sharp-button div:nth-child(2) {
  left: 2px;
}

.Party-container > .sharp-button div main {
  background-color: var(--black);
  height: 100%;
  width: 170px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 10px;
}

.Party-container > .sharp-button div:nth-child(2) main {
  background-color: var(--white);
}

.Party-container > .sharp-button div main h5,
.Party-container > .sharp-button div main h6 {
  color: var(--white);
  font-weight: 600;
}

.Party-container > .sharp-button div aside {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 25px solid var(--black);
  left: 0;
}

.Party-container > .sharp-button div:nth-child(2) aside {
  border-left: 25px solid var(--white);
}

/* //////////// tab //////////// */

.Party-container > .party-tab {
  width: 50vw;
  max-width: 750px;
  height: calc(100vh - 60px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.95) 50%, rgba(232, 232, 232, 0.95) 100%);
  backdrop-filter: blur(25px);

  min-width: 720px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@media (max-height: 600px) {
  .Party-container > .party-tab {
    min-height: calc(700px - 60px);
  }
}

.Party-container > .party-tab > header {
  height: 60px;
  width: 100%;
  background-color: var(--black);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
}

.Party-container > .party-tab .selecting-header {
  background-color: var(--primaryPurple3);
}

.Party-container > .party-tab > header > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Party-container > .party-tab > header > h5,
.Party-container > .party-tab > header > div > h5 {
  color: var(--white);
  font-weight: 600;
  margin-right: 15px;
}

/* /////////////////////////// */

.Party-container > .party-tab > header .sharp-button {
  height: 60px;
  width: 40px;
  cursor: pointer;
  position: relative;

  margin-left: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Party-container > .party-tab > header .sharp-button div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 0;
}

.Party-container > .party-tab > header .sharp-button div:nth-child(1) {
  right: 4px;
}

.Party-container > .party-tab > header .sharp-button div:nth-child(2) {
  right: 2px;
}

.Party-container > .party-tab > header .sharp-button div main {
  background-color: var(--white);
  height: 100%;
  width: 15px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
}

.Party-container > .party-tab > header .sharp-button div:nth-child(2) main {
  background-color: var(--black);
}

.Party-container > .party-tab > header .sharp-button div aside {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 25px solid var(--white);
  right: 0;
}

.Party-container > .party-tab > header .sharp-button div:nth-child(2) aside {
  border-right: 25px solid var(--black);
}

/* //////////////////////// */

.Party-container > .party-tab > main {
  width: 100%;
  padding: 25px 35px;
  overflow: auto;

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.Party-container > .party-tab > main > aside {
  align-self: flex-start;
}

.Party-container > .party-tab .add-new-container {
  width: 100%;
  margin-bottom: 18px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 18px;
}

.Party-container > .party-tab .add-new {
  background-color: var(--white);
  width: 100%;
  height: 110px;
  position: relative;
  border: 1px solid var(--gray2);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.add-new > section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}

.add-new > .cancel-add-new {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.add-new > .cancel-add-new:hover {
  background-color: var(--gray3);
}

.Party-container > .party-tab .party-groups {
  width: 100%;
  margin-top: 0px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 8px;
  /* flex: 1; */
}

.party-groups > main {
  width: 100%;
}

.party-groups .selecting-group {
  background-color: var(--white);
  margin-top: 20px;
  border: 1px solid var(--gray2);
  cursor: pointer;
}

.party-groups .selected-group {
  border: 1px solid var(--primaryPurple1) !important;
}

.party-groups .selecting-group:first-of-type {
  margin-top: 0px;
}

.party-groups .group-header {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.group-header header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  padding: 8px;
  column-gap: 16px;
}

.group-header header h5 {
  font-weight: 600;
  margin-left: -8px;
}

.party-groups .group-header .header-options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.party-groups .group-header .header-options button {
  width: fit-content;
  height: 40px;
  background-color: transparent;
  border: none;
  color: var(--primaryPurple1);
  font-family: var(--primaryFont);
  font-weight: 600;
  letter-spacing: 0.08em;
}

.party-groups .group-characters {
  padding: 8px;
  margin-top: 8px;
  background-color: var(--white);
  width: 100%;
  border: 1px solid var(--black);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.group-characters .group-character {
  padding: 4px;
  width: 100%;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 12px;
  position: relative;
}

.enable-edit-character {
  position: absolute;
  width: 25px;
  height: 100%;
  bottom: 0;
  right: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.enable-edit-character:hover {
  background-color: var(--gray3);
}

.enable-edit-character .fa-pencil-alt {
  text-align: end;
}

.edit-character {
  width: 100%;
}

.edit-character > input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--gray2);
  padding: 10px 100px 10px 20px;
  background-color: var(--white);
}

.edit-character > button {
  position: absolute;
  right: 15px;
  width: 60px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: var(--primaryPurple1);
  font-family: var(--primaryFont);
  font-weight: 600;
  letter-spacing: 0.08em;
}

.party-tab .selecting-footer {
  bottom: 0;
  background-color: var(--white);
  border-top: 1px solid var(--primaryPurple3);
  height: 60px;
  min-height: 60px;
  width: 100%;
  padding: 0 35px;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
