.ModalManageMultiaction-container .modal-action {
  justify-content: flex-start;
  width: fit-content;
  height: fit-content;
}

.ModalManageMultiaction-container .modal-action .new-action-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.ModalManageMultiaction-container .modal-action .new-action-wrapper .action-row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 15px;
}

.ModalManageMultiaction-container .modal-action footer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.ModalManageMultiaction-container .modal-action footer .weak-spot {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}
