.Bestiary-container .screen-block {
  position: fixed;

  background-color: var(--black);
  opacity: 0.7;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: calc(100vh - 60px);
}

.Bestiary-container > .sharp-button {
  height: 60px;
  width: 200px;

  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.Bestiary-container > .sharp-button div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 0;
}

.Bestiary-container > .sharp-button div:nth-child(1) {
  right: 4px;
}

.Bestiary-container > .sharp-button div:nth-child(2) {
  right: 2px;
}

.Bestiary-container > .sharp-button div main {
  background-color: var(--black);
  height: 100%;
  width: 170px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
}

.Bestiary-container > .sharp-button div:nth-child(2) main {
  background-color: var(--white);
}

.Bestiary-container > .sharp-button div main h5,
.Bestiary-container > .sharp-button div main h6 {
  color: var(--white);
  font-weight: 600;
}

.Bestiary-container > .sharp-button div aside {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 25px solid var(--black);
  right: 0;
}

.Bestiary-container > .sharp-button div:nth-child(2) aside {
  border-right: 25px solid var(--white);
}

/* /////////// tab ///////////// */

.Bestiary-container > .bestiary-tab {
  width: 50vw;
  max-width: 750px;
  height: calc(100vh - 60px);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.95) 50%, rgba(232, 232, 232, 0.95) 100%);
  backdrop-filter: blur(25px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.Bestiary-container > .bestiary-tab > header {
  height: 60px;
  width: 100%;
  background-color: var(--black);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
}

.Bestiary-container > .bestiary-tab .selecting-header {
  background-color: var(--primaryPurple3);
}

.Bestiary-container > .bestiary-tab > header > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Bestiary-container > .bestiary-tab > header h5 {
  color: var(--white);
  font-weight: 600;
  margin-right: 15px;
}

/* //////////////////////////// */

.Bestiary-container > .bestiary-tab > header .sharp-button {
  height: 60px;
  width: 40px;
  cursor: pointer;

  margin-right: 35px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.Bestiary-container > .bestiary-tab > header .sharp-button div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0;
}

.Bestiary-container > .bestiary-tab > header .sharp-button div:nth-child(1) {
  left: 4px;
}

.Bestiary-container > .bestiary-tab > header .sharp-button div:nth-child(2) {
  left: 2px;
}

.Bestiary-container > .bestiary-tab > header .sharp-button div main {
  background-color: var(--white);
  height: 100%;
  width: 15px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 10px;
}

.Bestiary-container > .bestiary-tab > header .sharp-button div:nth-child(2) main {
  background-color: var(--black);
}

.Bestiary-container > .bestiary-tab > header .sharp-button div main h5 {
  color: var(--white);
  font-weight: 600;
}

.Bestiary-container > .bestiary-tab > header .sharp-button div aside {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 25px solid var(--white);
  left: 0;
}

.Bestiary-container > .bestiary-tab > header .sharp-button div:nth-child(2) aside {
  border-left: 25px solid var(--black);
}

/* //////////////////////// */

.Bestiary-container > .bestiary-tab > main {
  width: 100%;
  padding: 25px 35px;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.Bestiary-container > .bestiary-tab > main > aside {
  align-self: flex-end;
}

.Bestiary-container > .bestiary-tab > main .bestiary-filters {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.Bestiary-container .filter-text {
  position: relative;
  width: 100%;
}

.Bestiary-container .filter-text input {
  width: 100%;
  height: 40px;
  /* border-radius: 8px; */
  border: 1px solid var(--gray2);
  padding: 10px 100px 10px 20px;
  background-color: var(--white);
  margin-bottom: 16px;
}

.Bestiary-container .filter-text > button {
  position: absolute;
  right: 15px;
  width: 60px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: var(--primaryPurple1);
  font-family: var(--primaryFont);
  font-weight: 600;
  letter-spacing: 0.08em;
}

.Bestiary-container > .bestiary-tab > main .bestiary-filters > h5 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.Bestiary-container > .bestiary-tab > main .bestiary-filters > main {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Bestiary-container > .bestiary-tab > main > .bestiary-list {
  margin-top: 16px;
  padding: 8px;
  background-color: var(--white);
  width: 100%;
  flex: 1;
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.Bestiary-container .list-creature {
  margin: 8px;
  padding: 7px;
  width: calc(100% / 3 - 16px);
  height: 220px;
  border: 1px solid var(--gray2);
  position: relative;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.Bestiary-container .list-creature:hover {
  border: 1px solid var(--primaryPurple2);
}

.Bestiary-container .selected-creature {
  border: 1px solid var(--primaryPurple1) !important;
}

.Bestiary-container .list-creature .edit-creature {
  position: absolute;
  top: 0;
  right: 0;
  /* background-color: var(--gray1); */
  width: 22px;
  height: 22px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Bestiary-container .list-creature .select-creature {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--gray1);
  margin: 6px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Bestiary-container .list-creature .edit-creature .fa-pencil-alt {
  color: var(--white);
}

.Bestiary-container .list-creature > img {
  position: absolute;
  bottom: 7px;
  object-fit: cover;
  object-position: 0 top;
  width: 180px;
  height: 180px;
}

.Bestiary-container .creature-details {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 7px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  z-index: 1;
}

.Bestiary-container .creature-details h6 {
  color: var(--white);
}

.bestiary-tab .selecting-footer {
  bottom: 0;
  background-color: var(--white);
  border-top: 1px solid var(--primaryPurple3);
  height: 60px;
  min-height: 60px;
  width: 100%;
  padding: 0 35px;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bestiary-tab .selecting-footer.filtered {
  position: absolute;
}
