.Party-container > .sharp-button {
  height: 60px;
  width: 200px;
  cursor: pointer;

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.Party-container > .sharp-button div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0;
}

.Party-container > .sharp-button div:nth-child(1) {
  left: 4px;
}

.Party-container > .sharp-button div:nth-child(2) {
  left: 2px;
}

.Party-container > .sharp-button div main {
  background-color: var(--black);
  height: 100%;
  width: 170px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 10px;
}

.Party-container > .sharp-button div:nth-child(2) main {
  background-color: var(--white);
}

.Party-container > .sharp-button div main h5,
.Party-container > .sharp-button div main h6 {
  color: var(--white);
  font-weight: 600;
}

.Party-container > .sharp-button div aside {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 25px solid var(--black);
  left: 0;
}

.Party-container > .sharp-button div:nth-child(2) aside {
  border-left: 25px solid var(--white);
}

/* //////////// tab //////////// */

.Party-container > .party-tab {
  width: 50vw;
  max-width: 750px;
  height: calc(100vh - 60px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.95) 50%, rgba(232, 232, 232, 0.95) 100%);
  backdrop-filter: blur(25px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.Party-container > .party-tab > header {
  height: 60px;
  width: 100%;
  background-color: var(--black);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
}

.Party-container > .party-tab > header > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Party-container > .party-tab > header > h5,
.Party-container > .party-tab > header > div > h5 {
  color: var(--white);
  font-weight: 600;
  margin-right: 15px;
}

/* /////////////////////////// */

.Party-container > .party-tab > header .sharp-button {
  height: 60px;
  width: 40px;
  cursor: pointer;
  position: relative;

  margin-left: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Party-container > .party-tab > header .sharp-button div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 0;
}

.Party-container > .party-tab > header .sharp-button div:nth-child(1) {
  right: 4px;
}

.Party-container > .party-tab > header .sharp-button div:nth-child(2) {
  right: 2px;
}

.Party-container > .party-tab > header .sharp-button div main {
  background-color: var(--white);
  height: 100%;
  width: 15px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
}

.Party-container > .party-tab > header .sharp-button div:nth-child(2) main {
  background-color: var(--black);
}

.Party-container > .party-tab > header .sharp-button div aside {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 25px solid var(--white);
  right: 0;
}

.Party-container > .party-tab > header .sharp-button div:nth-child(2) aside {
  border-right: 25px solid var(--black);
}

/* //////////////////////// */

.Party-container > .party-tab > main {
  width: 100%;
  padding: 25px 35px;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.Party-container > .party-tab > main > aside {
  align-self: flex-start;
}
