.CheckInput-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 10px;
}

.CheckInput-container button {
  width: 20px;
  height: 20px;
  border: solid 1px var(--gray2);
  background-color: var(--white);

  display: flex;
  align-items: center;
  justify-content: center;
}

.CheckInput-container label {
  cursor: pointer;
}

.CheckInput-container .fa-check {
  color: var(--white);
}

.check-checked {
  background-color: var(--primaryPurple1) !important;
  border: none !important;
}
