.Treasure-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.Treasure-container .result-tables {
  margin-top: 80px;
  width: 1100px;
  height: fit-content;
}

.Treasure-container .treasure-panels {
  width: 1000px;
  margin-top: 5%;
}

.Treasure-container .modal-materials-wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.Treasure-container .modal-materials-wrapper .modal-materials {
  margin-top: 15px;
  width: 100%;
}

.Treasure-container .modal-materials-wrapper .modal-materials:first-of-type {
  margin-top: 3%;
}

.Treasure-container .modal-materials-wrapper .modal-materials:last-of-type {
  margin-bottom: 15px;
}

.Treasure-container .modal-materials-wrapper footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Treasure-container .modal-materials-wrapper footer .crafting-tools {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.Treasure-container .modal-materials-wrapper footer .crafting-tools .label {
  font-weight: 600;
}

.Treasure-container .panel-select {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
}

.Treasure-container .panel-select.details {
  column-gap: 20px;
}

.Treasure-container > footer {
  margin-top: calc(5% - 20px);
}
