.Tooltip-container {
  width: fit-content;
  height: fit-content;
  pointer-events: none;
  position: fixed;
  opacity: 0;
  translate: -50% -100%;
  transition: opacity 0.2s ease-in-out;
  z-index: 999999999999;
  padding: 12px;
  background-color: var(--black);
  box-shadow: 0px 2px 4px rgba(37, 37, 37, 0.05);
  border: solid 1px var(--gray2);
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Tooltip-container .tooltip-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  white-space: break-spaces;
}

.Tooltip-container .tooltip-contents .content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.Tooltip-container .tooltip-contents .content-wrapper i {
  color: var(--white);
}

.Tooltip-container span {
  color: var(--white);
}

.Tooltip-container .arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 100%;

  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 6px solid var(--black);
}
