.EditLocation-container {
  width: 100%;
  height: 100%;

  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.EditLocation-container .title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 10px;
}

.EditLocation-container .location-import {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background-color: transparent;
}

.EditLocation-container h3 {
  line-height: 1;
}

.EditLocation-container .location-fields {
  flex: 1;
  width: 100%;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 5px;
}

.EditLocation-container .location-row {
  width: 100%;
  padding: 0 10px;
}

.EditLocation-container .location-row .interaction {
  margin-top: 23px;
}

.EditLocation-container .divider {
  border-top: 1px solid var(--gray2);
  width: 100%;
  margin: 5px 0;
}

.EditLocation-container .location-detail-group {
  width: 100%;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--black);
}

.EditLocation-container .location-detail-group:last-child {
  margin-bottom: 0px;
}

.EditLocation-container .location-detail-group-title {
  margin-bottom: 2px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.EditLocation-container .location-detail-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  column-gap: 20px;
  border-top: 1px solid var(--black);
}

.EditLocation-container .location-detail-group-item.location-creature > span {
  width: 100%;
}

.EditLocation-container .location-detail-group-item.location-creature .routine {
  width: 100%;
}

.EditLocation-container .location-detail-group-item.location-creature .routine .routine-variables {
  flex: 1;
}

.EditLocation-container .group-item-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
}

.EditLocation-container .location-creature > .group-item-actions {
  width: 100%;
}

.EditLocation-container .action-buttons {
  border-top: 1px solid var(--gray2);
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 25px;
}

.EditLocation-container .action-buttons .basic-actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 25px;
}

.EditLocation-container .group-item-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
}

.EditLocation-container .dungeon-entrance {
  background-color: var(--white);
  border-top: 1px solid var(--black);
  padding: 7px;
}
.EditLocation-container .dungeon-entrance > button {
  padding: 3px;
}

.EditLocation-container .dungeon {
  background-color: var(--white);
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 7px;
  padding: 0 7px 7px;
}

.EditLocation-container .room {
  position: relative;
}

.EditLocation-container .is-swapping-room {
  background-color: var(--white);
}

.EditLocation-container .dungeon .corridor {
  width: 5px;
  height: 5px;
}
.EditLocation-container .dungeon .small {
  width: 10px;
  height: 10px;
}
.EditLocation-container .dungeon .medium {
  width: 15px;
  height: 15px;
}
.EditLocation-container .dungeon .large,
.EditLocation-container .dungeon .dungeon-room {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
