.Jewel-container {
  border: solid 1px var(--gray2);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}

.gray-jewel-outerStyle {
  background: var(--gray3);
}
.Jewel-container .gray-gradient-innerStyle {
  background: var(--grayGradient);
}

.black-jewel-outerStyle {
  background: var(--black);
}
.Jewel-container .black-gradient-innerStyle {
  background: var(--blackGradient);
}
